<% include partials/header %>
       


    <div class="promo-header " id="heading-banner">
            <div class="main-title" id ="evline">
                <!--<h1>lorem ipsum</h1>-->
                <!--<h2>consectetur adipisicing elit</h2>-->
                <h1>evlaine</h1>
                <h2>laines et tricots fait-main
                    <img style="display: block; margin: 0 auto;" src="https://res.cloudinary.com/dhc7ovnwk/image/upload/v1518879966/20170514_113420_qhptuw.png">
                    <p>
                        Hello, je suis Evelyne et ma passion c'est le tricot. Je vous invite à découvrir ma toute première collection.
                    </p>
                
                </h2>
                

                <img width="100%" src="https://images.unsplash.com/photo-1498008018457-e4c2937641b2?ixlib=rb-0.3.5&s=c5441d8c0c852dbfedbbc870729006f9&auto=format&fit=crop&w=1350&q=80">
                <!--<img width="100%" src="https://images.unsplash.com/photo-1502810190503-8303352d0dd1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42a97a31771014f9db8283f6ba93de91&auto=format&fit=crop&w=1350&q=80">-->
                <div class="my-container container pt25-sm-down">                
                    <div class="section1">
                    <p class="propsize">
                        En toutes saisons, essayez de faire un peu de place à la laine, au tricot. C'est ma passion, et j'aimerais vous la transmettre. 
                        Par des créations simples et modernes, et aussi fonctionnelles. Des bonnets, des écharpes, des chaussettes. De qualité.
                        C'est aussi pour cette raison que je ne propose pas de napperons ou des créations compliquées, parce que je ne suis pas une machine à tricoter et que je dois en rester à l'essentiel.
                        Les noms que j'ai donné à mes articles peuvent surprendre. Comme je suis bretonne et que je suis très attachée à mes racines, j'ai trouvé intéressant de donner des noms bretons à mes petites créations.
                        En breton, tricoter se dit ober stamm, un bonnet se dit boned, et une écharpe se dit skerb, etc. N'y voyez aucune revendication identitaire ni snobisme (je ne suis pas bretonnante), c'est juste une façon que je trouve originale de nommer joliment les choses. Enfin, j'espère que cela vous plaira.
                    </p>
                    </div>
                </div>
            </div>  

            <div class="my-container container pt25-sm-down">
               
            <% articles.forEach(function(article) { %>
                <section class="section1" id ="<%= article.nom %>">
                    <h1 style="color:<%= article.couleurTheme %>;"><%= article.nom %></h1>
                    <img style="display: block; margin: 0 auto; width:30px;" src="https://res.cloudinary.com/dhc7ovnwk/image/upload/t_media_lib_thumb/v1518362390/miscellaneous_wf74gm.png">                    
                    <!-- <div class="star" style="color:#37474f;"><i class="fa fa-star" aria-hidden="true"></i></div> -->
                    <h2 style="color:#546e7a;"><%= article.nomSecondaire %></h2>   

                    <!-- <div class="star" style="color:#37474f;"><i class="fa fa-star" aria-hidden="true"></i></div>                     -->
                    <p class="propsize"><%= article.description %></p>
                    <div class="wrapper">
                        <a href="/articles/<%= article.id %>"><img class="" src='<%= article.image %>'/></a>
                        <div class="description">
                            <p class="description-content">
                                <%= article.nom %>&nbsp;<%= Number(article.prix).toFixed(2) %>&nbsp;&euro;
                            </p>
                        </div>
                    </div> 
   
                    <hr>
                </section>
            
            <% }); %>

        </div>
    </div>

<script>
    $('#heading-banner').css('display', 'block');
</script>

<% include partials/footer %>