<% include partials/header %>
       


    <div class="promo-header " id="heading-banner">
            <div class="main-title" id ="evline">
                <h1>evline</h1>
                    <h2>envies de laine</h2>

                <img width="100%" src="https://images.unsplash.com/photo-1498008018457-e4c2937641b2?ixlib=rb-0.3.5&s=c5441d8c0c852dbfedbbc870729006f9&auto=format&fit=crop&w=1350&q=80">

            </div>  
       
            <div class="my-container container pt25-sm-down">
               
            <% articles.forEach(function(article) { %>
                <section class="section1" id ="<%= article.nom %>">
                    <h1 style="color:<%= article.couleurTheme %>;"><%= article.nom %></h1>
                    <!-- <div class="star" style="color:#37474f;"><i class="fa fa-star" aria-hidden="true"></i></div> -->
                    <h2 style="color:#546e7a;"><%= article.nomSecondaire %></h2>   
                    <div class="star" style="color:#37474f;"><i class="fa fa-star" aria-hidden="true"></i></div>                     
                    <p><%= article.description %></p>
                    <div class="wrapper">
                        <a href="/articles/<%= article.id %>"><img class="" src='<%= article.image %>'/></a>
                        <div class="description">
                            <p class="description-content">
                                <%= article.nom %>&nbsp;<%= Number(article.prix).toFixed(2) %>&nbsp;&euro;
                            </p>
                        </div>
                    </div> 
   
                    <hr>
                </section>
            
            <% }); %>

        </div>
    </div>

<script>
    $('#heading-banner').css('display', 'block');
</script>

<% include partials/footer %>