<% include ../partials/header %>
<div class="container">
    
    <div class="row">
        <div class="row product flexbox">
            <div class="col-md-6 col-xs-12 product-grid">
                <a class=" js-img-viwer" href="<%= article.image %>" >
                    <div class="crop-to-square">
                        <div class="crop-to-square-positioner img-text-overlay">
                            <img class="crop-to-square-img" src="<%= article.image %>" alt="<%= article.nom %>">
                        </div>
                    </div>
                </a>                   

            </div>
            <div class="col-md-6 product-grid">
                <div class="col-md-12" >
                    <p class="lead product-title" style="color:<%= article.couleurTheme %>;"><%=article.nom%></p>
                </div>
                <div class="col-md-12" >
                    <p class="lead product-subtitle" style="color:#546e7a;"><%=article.nomSecondaire%></p>
                </div>               
                 <div class="col-md-12">
                    <h4 class="product-item"><span class="product-price"><%= Number(article.prix).toFixed(2) %> &euro;</span></h4>
                    <h6>plus frais de livraison si applicable</h6>
                </div>  

                <% if((currentUser && article.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
                    <div class="col-md-12">
                        <a class="btn btn-xs btn-warning" href="/articles/<%= article._id %>/edit">Modifier</a>
                        <form id="delete-form" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Supprimer</button>
                        </form>
                    </div>  
                <% }%>

                <div class="col-md-12">
                    <h4 class="product-item">Vendu par : <a href="/users/<%= article.author.id %>"><%= article.author.username %></a>
                    <img class="img-circular"></h4>
                </div>  

                 <div class="col-md-12">
                    <div class="green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> En stock,</strong> expédition aujourd'hui</div>
                </div>  
                 <div class="col-md-12">
                    <button class="btn btn-add-cart"><a href="/add-to-cart/<%= article._id %>">Ajouter au panier</a></button>
                </div>  

                <div class="col-md-12">
                    <h4 class="product-item" id="labelMeanRating">Moyenne des avis</h4>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
                <div class="col-md-12 ">                
                <hr>
                </div>
                <div class="col-md-12 ">
                    <p class="product-item"><strong>Description du produit :</strong></p>
                    <p class="product-item">Id Produit : <%= article._id %></p>
                    <p class="product-item">
                        <%= article.description %>
                    </p>
                </div>  
                 <div class="col-md-12 ">
                    <p class="product-item"><strong>Description technique :</strong></p>
                    <p class="product-item">
                        <%= article.descriptionTechnique %>
                    </p>
                    <p class="product-item">Fait main</p>
                    <p class="product-item">Technique : Crochet</p>
                    <p class="product-item">Origine: Bretagne <img style="width:30px;" src="https://res.cloudinary.com/dhc7ovnwk/image/upload/t_media_lib_thumb/v1518362933/Gwenn_ha_du_xl9ghw.png"></p>
                </div>        
                <div class="col-md-12 ">
                    <p class="product-item"><strong>Livraison et retours :</strong></p>
                    <p class="product-item">Recevez ceci rapidement ! Prêt à expédier sous 3 jours ouvrés.</p>
                    <p class="product-item">Depuis le pays : France.</p>
                    <p class="product-item">4,95 € de livraison vers France.</p>
                    <p class="product-item">Je n'accepte pas les retours, les échanges ou les annulations. Mais n'hésitez pas à me contacter en cas de problème avec votre commande.</p>
                </div>    
                <div class="col-md-12 ">
                    <p class="product-item"><strong>Coordonnées du vendeur :</strong></p>
                    <p class="product-item">Evelyne Retière</p>
                    <p class="product-item">10 rue Lamoricière</p>
                    <p class="product-item">44100 Nantes</p>
                    <p class="product-item">France</p>
                </div>     
                <div class="col-md-12 ">
                    <p class="product-item"><strong>Paiements :</strong></p>
                    <p class="product-item">Tous les paiements sont effectués de manière sécurisée</p>
                    <img width="200px" src="http://www.serie-noire.com/wp/wp-content/uploads/2015/09/logo-paiements.png">
                </div>                  
            </div> 

        </div>


        
        <!-- AVIS CLIENTS -->
        <div class="col-md-12 product-section">
            <p class="product-title">Commentaires et avis</p>

            <div class="well">
                <div class="text-right">
                    <button class="btn btn-add-cart"><a href="/articles/<%= article._id %>/comments/new">Ajouter un commentaire</a></button>
                </div>
                <hr>
                <% for (var i = 0, len = article.comments.length; i < len; i++) { %>
                    <div class="row">
                        <div class="col-md-12 product-comment" >
                            Commentaire de : <strong><a href="/users/<%= article.comments[i].author.id %>"><%= article.comments[i].author.username %></a></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>&nbsp;</p>
                            <p class="product-item">
                                <%=  article.comments[i].text %> 
                            </p>
                            <fieldset class="rating">
                                <input type="radio" id="cstar5" name="crating[<%=i%>]" value="5" /><label class = "full" for="cstar5" title="Awesome - 5 stars" disabled></label>
                                <input type="radio" id="cstar4half" name="crating[<%=i%>]" value="4 and a half" /><label class="half" for="cstar4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="cstar4" name="crating[<%=i%>]" value="4" /><label class = "full" for="cstar4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="cstar3half" name="crating[<%=i%>]" value="3 and a half" /><label class="half" for="cstar3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="cstar3" name="crating[<%=i%>]" value="3" /><label class = "full" for="cstar3" title="Meh - 3 stars"></label>
                                <input type="radio" id="cstar2half" name="crating[<%=i%>]" value="2 and a half" /><label class="half" for="cstar2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="cstar2" name="crating[<%=i%>]" value="2" /><label class = "full" for="cstar2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="cstar1half" name="crating[<%=i%>]" value="1 and a half" /><label class="half" for="cstar1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="cstar1" name="crating[<%=i%>]" value="1" /><label class = "full" for="cstar1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="cstarhalf" name="crating[<%=i%>]" value="half" /><label class="half" for="cstarhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>  
                            <p>&nbsp;</p>
                        <% if((currentUser && article.comments[i].author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/articles/<%=article._id %>/comments/<%=article.comments[i]._id %>/edit">Edit</a>
                            <form id="delete-form" action="/articles/<%=article._id %>/comments/<%=article.comments[i]._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <hr>
                        <% } %>
                        </div>
                    </div>
                <% } %>
            </div>        
         </div>
         
        <% if (article.author.username === "TEST") {%>
            <!-- AUTRES ITEMS -->
            <div class="col-md-12 product-section">
                <p class="product-title">Autres articles de <%=article.author.username%></p>
            </div>
            
            <!-- Carousel
            ================================================== -->
            <% listArticles.forEach(function(article) { %>
                <span style="visibility:hidden;"><a href='/articles/<%= article._id %>'><img class="im" width="0px" src=<%= article.image %>></a></span>
            <% }); %>
            <div id="myCarousel" class="carousel slide col-md-12 product-title">
              <!-- Indicators -->
              <ol class="carousel-indicators">
              </ol>
              <div class="carousel-inner">
               
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>  
            </div>
            <!-- /.carousel -->            
        <% }; %>

        
    </div>
</div>    
<script>
      
$(document).ready(function(){  
    
    // avatar
    var avatar = "<%=user.avatar %>";
    var id = "<%=user.id %>";
    if (avatar) {
        // alert (id);
        $('.img-circular').css('background-image', "url(" + avatar +")");
        $('.img-circular').css('href', "url(/users/" + id +")");
    }
    
    $('#heading-banner').css('display', 'none');
    var linkArray = $("img.im").map(function() {
        return $(this).attr('src');
    }).get();
    // console.log(linkArray);

    for(var i=0 ; i< linkArray.length ; i++) {
        $('<div class="item"><img src="'+linkArray[i]+'"><div class="carousel-caption"></div>   </div>').appendTo('.carousel-inner');
        $('<li data-target="#carousel-example-generic" data-slide-to="'+i+'"></li>').appendTo('.carousel-indicators');
    }
    $('.item').first().addClass('active');
    $('.carousel-indicators > li').first().addClass('active');
    $('#carousel-example-generic').carousel();

});        
</script>

    
<script> 
    $(document).ready(function() {
      var imgs = $('.crop-to-square-img'); //jQuery id selector
      imgs.each(function() {
        var img = $(this);
        var width = img.width(); //jQuery width method
        var height = img.height(); //jQuery height method
    
        if (width < height) {
          img.css('max-height', '150%');
    
        } else {
          img.css('max-width', '150%');
          img.css('max-height', 'auto%');
        }
      })
    });
</script> 

    <!-- plugin pour zoomer sur les images-->
<script>
    window.addEventListener('load',function(){
    	new SmartPhoto(".js-img-viwer");
        new SmartPhoto(".js-img-viwer-fit");
    });
</script>

<script>
    /*
     Gestion des étoiles des notes (ratings)
    */
    $(document).ready(function() {
        var offset = 0;
        var totalRating = 0;
        var nbRating = 0;
        <% for (var i = 0, len = article.comments.length; i < len; i++) { %>
            var rating = <%=article.comments[i].rating %>
            offset = (10 - ( rating *2) % 10) %10;
            if (rating) {
                totalRating += rating;
                nbRating++;
            }
            $( 'input[name="crating[<%=i%>]"]:radio:eq('+offset+')' ).prop("checked", true);
        <% } %>        
        // moyenne
        offset = parseInt((10 - ( (totalRating / nbRating) *2) % 10) %10);
        $( 'input[name="rating"]:radio:eq('+ offset +')' ).trigger("click");
        // $( '.rating > input:checked  ~ label').css("color", "#FFD700")
        // on rend insensible les boutons
        $(".rating > input").attr('disabled', true);
        // on empeche toute interaction
        $(".rating").css('pointer-events','none');
        $('#labelMeanRating').text("Moyenne des avis (" + nbRating + ")");
    });    
</script>

<% include ../partials/footer %>